<div>
  <mat-toolbar color="primary">
    <span class="toolbar-main">
      <mat-icon>remove_red_eye</mat-icon>
      <a mat-button [routerLink]="''">
        <h1>Watcher</h1>
      </a>
    </span>
    <div class="menu-items">
      <div>
        <a mat-button [routerLink]="'movies'"> Movies </a>
      </div>
      <div>
        <a mat-button [routerLink]="'dashboard'"> Dashboard </a>
      </div>
    </div>
  </mat-toolbar>
  <mat-toolbar color="primary" class="secondary-nav" *ngIf="router.url == '/movies'">
    <div>
      <a mat-button (click)="searchTopRated()"> Top Rated </a>
      <a mat-button (click)="searchNowPlaying()"> Now Playing </a>
      <a mat-button (click)="searchPopular()"> Popular </a>
      <a mat-button (click)="searchUpcoming()"> Upcoming </a>
    </div>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
