html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
mat-card {
  height: fit-content;
}
.flex-div {
  display: flex;
  margin-bottom: 2%;
}
.movie-container {
  margin-bottom: 2%;
  width: 100%;
  display: grid;
}
.movie-title-container {
  width: 100%;
  display: flex;
  margin-bottom: 2%;
}
.movie-collection-status-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2%;
  width: 30%;
}
.movie-title {
  width: 98%;
  margin-left: 2%;
}
.movie-poster-container {
  width: 40%;
  height: 40%;
  margin-right: 2%;
  margin-left: 2%;
}
.movie-poster {
  width: 100%;
  height: 100%;
}
.movie-info-container {
  width: 100%;
  background: lightblue;
}
.movie-details-container {
  display: flex;
  margin-bottom: 2%;
}
.movie-similar-container, .movie-recommendations-container,
.movie-images-container {
  display: grid;
  width: 100%;
  background: lightblue;
}
.movie-subtitle-container {
  width: 100%;
}
.grid-overflow{
  margin: 2%;
}
