<form class="search-form">
  <div class="search-div">
    <mat-icon class="cursor-normal">search</mat-icon>
    <mat-form-field class="search-input-field">
      <label>
        <input matInput placeholder="Search your collection" [(ngModel)]="search" type="text" name="search" (keyup)="filter()">
      </label>
    </mat-form-field>
  </div>
</form>

<mat-grid-list cols="4" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile *ngFor="let tile of filteredSortedTiles | async"
                 [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color"
                 [class.selected] = "tile === selectedTile">
    <a class="tile-content" [routerLink]="['/movies/details']" [state]="{id: tile.id}">
      <h3>{{tile.text}}</h3>
    </a>
  </mat-grid-tile>
</mat-grid-list>
