<form class="search-form">
  <div class="search-div">
    <mat-icon class="cursor-normal">search</mat-icon>
    <mat-form-field class="search-input-field">
      <label>
        <input matInput placeholder="Search your collection" [(ngModel)]="search" type="text" name="search">
      </label>
    </mat-form-field>
  </div>
</form>

<mat-grid-list cols="4" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile (click)="showDetails(tile)" *ngFor="let tile of tiles"
                 [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
    <div class="tile-content">
      {{tile.text}}
    </div>
  </mat-grid-tile>
</mat-grid-list>
