<mat-card>
  <div class="mat-elevation-z8">

    <form class="flex-form">
      <mat-form-field class="full-width-input">
        <label>
          <textarea matInput placeholder="Search for movie title"></textarea>
        </label>
      </mat-form-field>
    </form>

    <table class="full-width-table" matSort mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.original_title}} </td>
      </ng-container>

      <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Popularity </th>
        <td mat-cell *matCellDef="let element"> {{element.popularity}} </td>
      </ng-container>

      <ng-container matColumnDef="releaseDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date </th>
        <td mat-cell *matCellDef="let element"> {{element.release_date | date}} </td>
      </ng-container>

      <ng-container matColumnDef="voteCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vote Count </th>
        <td mat-cell *matCellDef="let element"> {{element.vote_count}} </td>
      </ng-container>

      <ng-container matColumnDef="voteAverage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vote Average </th>
        <td mat-cell *matCellDef="let element"> {{element.vote_average}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
